

         <table style="width:100%;">
            <tr>
                <td>
                    <form action="/createImporter">
                        <button class="btn success" type="SUBMIT" value="">create Importer</button>
                    </form>
                </td>
                <td>
                    <form action="/createExporter">
                        <button class="btn success" type="SUBMIT" value="">create Exporter</button>
                    </form>
                </td>
                <td>
                    <form action="/createExporter">
                        <button class="btn success" type="SUBMIT" value="">create Table</button>
                    </form>
                </td>
                <td>
                    <form>
                        <button class="btn success" type="SUBMIT" value="">create Procedure</button>
                    </form>
                </td>
                <td>
                    <form>
                        <button class="btn success" type="SUBMIT" value="">create View</button>
                    </form>
                </td>
            </tr>
            <tr>
                <div id="includedContent"></div>       
            </tr>
          </table>